body {
  margin: 0;
  padding: 16px;
  background: tra;
  font-family: system-ui, sans-serif;

  transform-origin: top left;
  transition: transform 0.2s ease, width 0.2s ease;
}

body.zoomed {
  transform: scale(1.25);
}

/* White card */
.card {
  background: #ffffff;
  width: 240px;
  padding: 24px 16px;
  border-radius: 14px;
  box-shadow: 0 4px 16px rgba(0,0,0,0.15);
  height: 300px;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;

  /* NEW: decal background */
  background-image: url("../../background.png");
  background-repeat: no-repeat;
  background-position: top 60%;
  background-size: cover; /* ensures no overflow */
  background-size: 300px;
}

/* Centered logo */
.logo {
  width: 160px;
  height: auto;
  display: block;
  position: relative;
  z-index: 2; /* ensures logo sits above decal */
}

.info-logo {
  width: 24px;
  height: auto;
  margin-top: 80px; /* spacing below main logo */ 
  display: block; 
  position: relative; 
  z-index: 2; /* stays above decal */
}